{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-md-3 col-md-offset-5">
            <form action="{{ path('security_login_check') }}" method="post">
                <h2>{% trans from "security" %}login{% endtrans %} </h2>

                <div class="input-group">
                    <span class="input-group-addon"
                          id="basic-addon1">{% trans from "security" %}username{% endtrans %}</span>
                    <input type="text" id="username" class="form-control" name="_username"/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"
                          id="basic-addon1">{% trans from "security" %}password{% endtrans %}</span>
                    <input type="password" class="form-control" id="password" name="_password"/>
                </div>
                <div class="input-group">
                    <input type="hidden" name="_csrf_security_token" value="{{ csrf_token(csrf_security_login_token) }}">
                </div>
                <div class="input-group pull-right">
                    <input type="submit" class="form-control btn-primary"
                           value="{% trans from "security" %}submit{% endtrans %}"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
