###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
### Docker Compose Logs ###
.logs/
/build-artifacts/
!build-artifacts/.gitkeep
public/js/*
public/css/*
public/*.svg
public/*.woff*
public/*.ttf
public/*.eot
# nodejs/npm
node_modules/
npm-debug.log
yarn-error.log
