###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
### Docker Compose Logs ###
.logs/
/build-artifacts/
!build-artifacts/.gitkeep
public/*
!public/index.php
!public/favicon.ico
!public/robots.txt
# nodejs/npm
node_modules/
npm-debug.log
yarn-error.log
