###> symfony/framework-bundle ###
.env.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
### Docker Compose Logs ###
.logs/
/build-artifacts/
!build-artifacts/.gitkeep
public/*
!public/index.php
!public/favicon.ico
!public/robots.txt
# nodejs/npm
node_modules/
npm-debug.log
yarn-error.log
infection.log
infection.phar.asc

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
