<div class="panel-footer">
    <span class="pull-left">{% trans from "messages" %}number_of_game_sessions{% endtrans %}</span>
    <span class="pull-right">{{ game.gameSessions|length }}</span>
    <div class="clearfix"></div>
</div>
