<div class="panel-footer">
        <span>
             {% if game.boughtAt|date('d.m.Y') == '31.12.2000' or game.boughtAt is null %}
                 {% trans with {'%time%' : game.timePlayed | convert_overall_time } from 'messages' %}playtime_since_purchase{% endtrans %}
             {% else %}
                 {% trans with {'%time%' : game.timePlayed | convert_overall_time, '%date%' : game.boughtAt|date('d.m.Y') } from 'messages' %}playtime_since_purchase_date{% endtrans %}
             {% endif %}
        </span>
    <div class="clearfix"></div>
</div>
