{% if game.gameSessions %}
    {% set min = game.gameSessions|first.duration %}
    {% for gameSession in game.gameSessions %}
        {% if gameSession.duration < min %}
            {% set min = gameSession.duration %}
        {% endif %}
    {% endfor %}

    <div class="panel-footer">
        <span class="pull-left">{% trans from "game" %}Shortest Session{% endtrans %}</span>
        <span class="pull-right">{{ min|convert_recent_time }}</span>
        <div class="clearfix"></div>
    </div>
{% endif %}
