{% set gameSessions = gameStats|get_game_sessions %}
{% if gameSessions %}
    {% set sum = 0 %}
    {% for gameSession in gameSessions %}
        {% set sum = sum + gameSession.duration %}
    {% endfor %}

    {% set average = sum / gameSessions|length %}

    <div class="panel-footer">
        <span class="pull-left">{% trans from "messages" %}average_session{% endtrans %}</span>
        <span class="pull-right">{{ average|convert_recent_time }}</span>
        <div class="clearfix"></div>
    </div>
{% endif %}
