{% set lastSession = gameStats | get_last_game_session %}
{% if lastSession %}
    <div class="panel-footer">
        <span class="pull-left">{% trans from "messages" %}last_session{% endtrans %}</span>
        <span class="pull-right">{{ lastSession.createdAt |date('d.m.Y') }}</span>
        <div class="clearfix"></div>
    </div>
{% endif %}
