{% if gameStats.gameSessions %}
    {% set max = gameStats.gameSessions|first.duration %}
    {% for gameSession in gameStats.gameSessions %}
        {% if gameSession.duration > max %}
            {% set max = gameSession.duration %}
        {% endif %}
    {% endfor %}

    <div class="panel-footer">
        <span class="pull-left">{% trans from "messages" %}longest_session{% endtrans %}</span>
        <span class="pull-right">{{ max|convert_recent_time }}</span>
        <div class="clearfix"></div>
    </div>
{% endif %}
