<div class="panel-footer mt-3">
    <span>
        {% trans with {'%time%' : gameStats.playtime.overallPlaytime | convert_overall_time } from 'messages' %}playtime_since_purchase{% endtrans %}
    </span>
    <div class="clearfix"></div>
</div>
