<div class="panel-footer">
    <span class="pull-left">{% trans from "game" %}first indexed on{% endtrans %}</span>
    <span class="pull-right">{{ game.createdAt|date("d.m.Y") }}</span>
    <div class="clearfix"></div>
</div>
