<div class="panel-footer">
    <span class="pull-left">{% trans from "game" %}created at{% endtrans %}</span>
    <span class="pull-right">{{ game.createdAt|date("d.m.Y H:i") }}</span>
    <div class="clearfix"></div>
</div>