<div class="panel-footer">
    <span class="pull-left">{% trans from "game" %}Screenshots{% endtrans %}</span>
    <a target="_blank"
       href="https://steamcommunity.com/id/{{ steam_user_name }}/screenshots?appId=/{{ game.steamAppId }}">
        <span class="pull-right">{% trans from "game" %}view screenshots{% endtrans %}</span>
    </a>
    <div class="clearfix"></div>
</div>

