<a target="_blank" href="http://store.steampowered.com/app/{{ game.steamAppId }}">
    <div class="panel-footer">
        <span class="pull-left">{% trans from "game" %}SteamAppId{% endtrans %}</span>
        <span class="pull-right">{{ game.steamAppId }}</span>
        <div class="clearfix"></div>
    </div>
</a>
