.top-buffer { margin-top:3em !important; }

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.bar {
  fill: steelblue;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  pointer-events: none;
}
