.top-buffer { margin-top:3em !important; }

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.bar {
  fill: steelblue;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  pointer-events: none;
}

.day {
  fill: #fff;
  stroke: #ddd;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.dashboardRow {
  height: 350px;
}

.RdYlGn .q0-11{fill:rgb(102,189,99)}
.RdYlGn .q1-11{fill:rgb(26,152,80)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(215,48,39)}
.RdYlGn .q4-11{fill:rgb(165,0,38)}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
