<div class="panel-footer">
    <span class="pull-left">{% trans from "game" %}Current Steam Price{% endtrans %}</span>
    <span class="pull-right">{{ game.price }} {{ game.currency }}</span>
    <div class="clearfix"></div>
</div>