<div class="panel-footer">
    <span class="pull-left">{% trans from "messages" %}current_steam_price{% endtrans %}</span>
    <span class="pull-right">{{ game.price }} {{ game.currency }}</span>
    <div class="clearfix"></div>
</div>
