{% extends 'admin-base.html.twig' %}
{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ entity.name }} <a href="{{ path('game_edit', {'id': entity.id}) }}">edit</a></h1>
    </div>
</div>
<div class="row">
    {% include '_modules/Game/information-card.html.twig' %}
    {% include '_modules/Game/session-card.html.twig' %}
    {% include '_modules/Game/blog-post-card.html.twig' %}
    {% include '_modules/Game/purchase-card.html.twig' %}
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            CKEDITOR.replace('game_description');
        });
    </script>
{% endblock %}
