{% include 'base.html.twig' %}
 {% block stylesheets %}
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
 {% endblock %}
{% block body %}
    <div class="container">
        <table id="game-list" class="table">
            <thead>
            <tr>
                <th scope="col">
                    {% trans from 'game' %}name{% endtrans %}
                </th>
                <th scope="col">
                    {% trans from 'game' %}number of sessions{% endtrans %}
                </th>
                <th scope="col">
                    {% trans from 'game' %}number of blogposts{% endtrans %}
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for game in entities %}
                <tr>
                    <td scope="row">
                        {{ game.name }}
                    </td>
                    <td scope="col">
                        {{ game.gameSessions|length }}
                    </td>
                    <td scope="col">
                        {{ game.blogPosts|length }}
                    </td>
                    <td scope="col">
                        <a class="float-right"
                           href="{{ path('game_show', {'slug': game.slug}) }}">{% trans from 'game' %}show{% endtrans %}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#game-list').DataTable();
        });
    </script>
{% endblock %}
