{% extends 'base.html.twig' %}
{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            {{ entity.name }}
        </h1>
        <img class="pull-right thumbnail" src="{{ entity.headerImagePath }}"/>
        {{ entity.description| raw }}
    </div>
</div>
<div class="row">
    {% include '_modules/Game/information-card.html.twig' %}
    {% include '_modules/Game/session-card.html.twig' %}
    {% include '_modules/Game/blog-post-card.html.twig' %}
    {% include '_modules/Game/purchase-card.html.twig' %}
</div>
{% endblock %}
