{% include 'base.html.twig' %}
{% block body %}
<div class="container embed-responsive">
    <div class="row">
        <div class="col">
            <h1>{{ entity.name }}</h1>
            <hr/>
            <img src='{{ entity.headerImagePath }}' alt='{{ entity.name }}' class='img-fluid float-right'/>
            {{ entity.description|raw }}
        </div>
    </div>
    <hr/>
    <h3>{% trans from 'game' %}Statistics{% endtrans %}</h3>
    {% include '_modules/last-session.html.twig' with { game: entity, hasRows: true } %}
    {% include '_modules/shortest-session.html.twig' with { game: entity, hasRows: true } %}
    {% include '_modules/average-session.html.twig' with { game: entity, hasRows: true } %}
    {% include '_modules/longest-session.html.twig' with { game: entity, hasRows: true } %}
    {% include '_modules/recently-played.html.twig' with { game: entity, hasRows: true } %}
    {% include '_modules/overall-played.html.twig' with { game: entity, hasRows: true } %}
    <hr />
    {% include '_modules/blogpost-list.html.twig' with {game: entity} %}
</div>
{% endblock %}
{% block javascripts %}
{% endblock %}
