{% extends 'base.html.twig' %}
{% block body %}

<div class="row mb-4">
    <div class="col">
        <div class="row">
            <div class="col">
                <h1 class="page-header">
                    {{ entity.name }}
                </h1>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col mb-3">
        <img src='{{ entity.headerImagePath }}' alt='{{ entity.name }}' class='img-responsive card-img-top'/>
    </div>
    {% include '_modules/Game/information-card.html.twig' %}
    {% include '_modules/Game/session-card.html.twig' %}
    {% include '_modules/Game/blog-post-card.html.twig' %}
</div>
{% endblock %}
