{% extends 'base.html.twig' %}
{% block body %}
    <h2 class="mb-3">{% trans from "messages" %}game_of_the_month{% endtrans %}</h2>
    {% include 'Homepage/_modules/game-of-the-month-list.twig' %}
{% endblock %}
