{% extends 'base.html.twig' %}
{% block body %}
    <h2 class="mb-3 text">{% trans from "messages" %}game_of_the_year{% endtrans %}</h2>
    {% include 'Homepage/_modules/game-of-the-year-list.twig' %}
{% endblock %}
