{% include 'base.html.twig' %}
{% block body %}
    <p>
    <h2>{% trans from "game" %}most_played.title{% endtrans %}</h2>
    {% for game in games.mostPlayed %}
        {% include '_modules/game/mostPlayedOverview.html.twig' with {'game': game } %}
    {% endfor %}
    </p>
    <p>
    <h2>{% trans from "game" %}recently_played.title{% endtrans %}</h2>
    {% for game in games.recentlyPlayed %}
        {% include '_modules/game/recentlyPlayedOverview.html.twig' with {'game': game } %}
    {% endfor %}
    </p>
{% endblock %}
