{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {% trans %}users{% endtrans %}
            </h1>
        </div>
    </div>

    <table id="user-list" class="table">
        {% for user in users %}
            <tr>
                <td>
                   {{ user.steamId }}
                </td>
                <td>
                    <a href="{{ path('homepage_dashboard', {'_switch_user': user.steamId}) }}">{% trans %}impersonate_user{% endtrans %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
