<div class="list-group-item">
    {% if game.hasGamePurchase %}
        {% if game.gamePurchase.boughtAt < game.releaseDate %}
            {% trans with {'%time%' : game.timePlayed | convert_overall_time, '%date%' : game.releaseDate|date('d.m.Y') } from 'messages' %}playtime_since_purchase_date{% endtrans %}
        {% else %}
            {% trans with {'%time%' : game.timePlayed | convert_overall_time, '%date%' : game.gamePurchase.boughtAt|date('d.m.Y') } from 'messages' %}playtime_since_purchase_date{% endtrans %}
        {% endif %}
    {% else %}
        {% trans with {'%time%' : game.timePlayed | convert_overall_time } from 'messages' %}playtime_since_purchase{% endtrans %}
    {% endif %}
</div>
