{% if gameStats.gamePurchase %}
    <div class="panel-footer">
        <span class="pull-left">{% trans from "messages" %}bought_at{% endtrans %}:</span>
        <span class="pull-right">{{ gameStats.gamePurchase.boughtat|date("d.m.y") }}</span>
        <div class="clearfix"></div>
    </div>
{% endif %}
