<div class="panel-footer">
    <span class="pull-left">{% trans from "messages" %}first_indexed_on{% endtrans %}</span>
    <span class="pull-right">{{ gameStats.game.createdAt|date("d.m.Y") }}</span>
    <div class="clearfix"></div>
</div>
