<div class="panel-footer">
    <span class="pull-left">{% trans from "messages" %}screenshots{% endtrans %}</span>
    <a target="_blank"
       href="https://steamcommunity.com/profiles/{{ app.user.steamId }}/screenshots?appid={{ gameStats.game.steamAppId }}">
        <span class="pull-right">{% trans from "messages" %}view_screenshots{% endtrans %}</span>
    </a>
    <div class="clearfix"></div>
</div>

