<div class="panel-footer">
    <span class="pull-left">{% trans from "messages" %}steam_app_id{% endtrans %}</span>
    <a target="_blank" href="http://store.steampowered.com/app/{{ gameStats.game.steamAppId }}">
        <span class="pull-right">{{ gameStats.game.steamAppId }}</span>
    </a>
    <div class="clearfix"></div>
</div>
