{% if blogPosts|length > 0 %}
    <h4>{% trans from "blog_post" %}Latest Blogposts{% endtrans %}</h4>
{% endif %}
{% for post in game.blogPosts | reverse | slice(0, 3) %}
    <a href="{{ path('blog_show', {'id':  post.id }) }}">{{ post.title }} {{ post.createdAt|date("d.m.Y H:i") }}</a><br />
{% endfor %}
