<div class="col-sm">
    <div class="card mb-4">
        <div class="card-header bg-primary">
            <i class="fa fa-file-text fa-2x" aria-hidden="true"></i>
            {% trans from "messages" %}blog_posts{% endtrans %}
        </div>
        <div class="card-body">
            {% include '_modules/BlogPost/number-of-blog-posts.html.twig' with {'game': entity} only %}
            {% include '_modules/BlogPost/last-blog-post.html.twig' with {'game': entity} only %}
            {% include '_modules/BlogPost/create-blog-post.html.twig' with {'game': entity} only %}
            {% include '_modules/BlogPost/list-blog-posts.html.twig' with {'game': entity} only %}
        </div>
    </div>
</div>

