<div class="col-sm">
    <div class="card mb-4">
        <div class="card-header bg-info">
            <i class="fa fa-steam fa-2x" aria-hidden="true"></i>
            {% trans from "messages" %}information{% endtrans %}
        </div>
        <div class="card-body">
            {% include '_modules/Information/steam-app-id.html.twig' with {'game': entity} only %}
            {% include '_modules/Information/steam-user-achievements.html.twig' with {'game': entity} only %}
            {% include '_modules/Information/steam-screenshots.html.twig' with {'game': entity} only %}
            {% include '_modules/Information/created-at.html.twig' with {'game': entity} only %}
            {% include '_modules/Information/modified-at.html.twig' with {'game': entity} only %}
            {% include '_modules/Information/bought-at.html.twig' with {'game': entity} only %}
            {% include '_modules/Information/update-information.html.twig' with {'game': entity} only %}
        </div>
    </div>
</div>
