<h3>{{ game.name }}</h3>
<img src="{{ game.headerImagePath }}" alt="{{ game.name }}"/>
{% trans with {'%time%' : game.timePlayed | convertOverallTime } from "game" %}overall played for %time%{% endtrans %}

{% include '_modules/game/blogPosts.html.twig' with {'blogPosts': game.blogPosts} %}
