<h3>{{ game.name }}</h3>
<img src="{{ game.headerImagePath }}"/>
{% trans with {'%time%' : game.timePlayed } from "game" %}overall played for %time%{% endtrans %}
{% for post in game.blogPosts | reverse | slice(0, 3) %}
    <a href="{{ path('blog_show', {'id':  post.id }) }}">{{ post.title }}</a>
{% endfor %}