<div class="col-sm">
    <div class="card mb-4">
        <div class="card-header bg-success">
            <i class="fa fa-money fa-2x"></i>
            {% trans from "messages" %}costs{% endtrans %}
        </div>
        <div class="card-body">
            {% include '_modules/Purchase/number-of-purchases.html.twig' with {'game': entity} only %}
            {% include '_modules/Purchase/current-steam-price.html.twig' with {'game': entity} only %}
            {% include '_modules/Purchase/overall-costs.html.twig' with {'game': entity} only %}
            {% include '_modules/Purchase/costs-per-hour.html.twig' with {'game': entity} only %}
            {% include '_modules/Purchase/create-purchase.html.twig' with {'game': entity} only %}
            {% include '_modules/Purchase/list-purchases.html.twig' with {'game': entity} only %}
        </div>
    </div>
</div>

