<h3>{{ game.name }}</h3>
<img src="{{ game.headerImagePath }}" alt="{{ game.name }}"/>
{% trans with {'%time%' : game.recentlyPlayed | convertRecentTime } from "game" %}played for %time% recently{% endtrans %}

{% include '_modules/game/blogPosts.html.twig' with {'blogPosts': game.blogPosts} %}
