<div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-calendar fa-5x" aria-hidden="true"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{% trans from "game" %}Sessions{% endtrans %}</div>
                </div>
            </div>
        </div>

        {% include '_modules/Session/number-of-sessions.html.twig' with {'game': entity} only %}
        {% include '_modules/Session/last-session.html.twig' with {'game': entity} only %}
        {% include '_modules/Session/shortest-session.html.twig' with {'game': entity} only %}
        {% include '_modules/Session/average-session.html.twig' with {'game': entity} only %}
        {% include '_modules/Session/longest-session.html.twig' with {'game': entity} only %}
        {% include '_modules/Session/overall-played.html.twig' with {'game': entity} only %}

        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">{% trans from "game" %}View All Sessions{% endtrans %}</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>