{% set lastBlogPost = game.blogPosts | last %}
{% if lastBlogPost %}
    <div class="row">
        <span class="col pull-left">{% trans from "messages" %}latest_blog_post{% endtrans %}</span>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('blog_post_edit', {'id': lastBlogPost.id}) }}">
            {% else %}
            <a href="{{ path('blog_post_show', {'gameSlug': game.slug, 'blogPostSlug': lastBlogPost.slug }) }}">
                {% endif %}
                <span class="col pull-right">{{ lastBlogPost.title| slice(0,16) }}</span>
            </a>
    </div>
{% endif %}
