{% set lastBlogPost = game.blogPosts | last %}
{% if lastBlogPost %}
    <a href="{{ path('blog_post_edit', {'id': game.id}) }}">
        <div class="panel-footer">
            <span class="pull-left">{% trans from "game" %}Last Blog Post{% endtrans %}</span>
            <span class="pull-right">{{ lastBlogPost.title| slice(0,16) }} <i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
        </div>
    </a>
{% endif %}
