<div class="panel-footer">
    <span class="pull-left">{% trans from "game" %}Number of Blog Posts{% endtrans %}</span>
    <span class="pull-right">{{ game.blogPosts|length }}</span>
    <div class="clearfix"></div>
</div>