<div class="panel-footer">
    <span class="pull-left">{% trans from "messages" %}number_of_blog_posts{% endtrans %}</span>
    <span class="pull-right">{{ game.blogPosts|length }}</span>
    <div class="clearfix"></div>
</div>
