<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/application.css') }}">
        <link rel="stylesheet" type="text/css"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
</head>
<body>
{%  include('Navigation/admin-navigation.html.twig') %}
<div class="container-fluid">
    <div id="page-wrapper">
        {% block body %}

        {% endblock %}
    </div>
</div>
</body>
{% block javascripts %}
    <script src="{{ asset('js/application.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
{% endblock %}
</html>
