<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
        <link rel="stylesheet" type="text/css" href="/css/application.min.css">
    {% endblock %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ ga_tracking }}');
    </script>
</head>
<body>
{% block body %}
{% include '_modules/infotext.html.twig' %}
{% include '_modules/navigation.html.twig' %}
{% endblock %}
{% block javascripts %}
    <script src="/js/application.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var image = $('img');
            image.addClass('img-fluid');
            image.removeAttr('style');
        });
    </script>
{% endblock %}
</body>
</html>
