<div class="alert alert-warning w-100">
    This is a demo project currently under development.
    See <a target="_blank" href="https://github.com/lkochniss/gamer-profile">lkochniss/gamer-profile</a> on
    GitHub for current progress.
</div>
<div class="alert alert-info w-100">
    Want to give me feedback?
    Send me a mail at lukas.kochniss+gamer-profile@gmail.com
    Found a bug?
    Use the <a target="_blank" href="https://github.com/lkochniss/gamer-profile/issues">Issue Tracker</a>
</div>
