<hr/>
{% for key, game in bestGamePerMonth %}

    <div class="col-lg-6 col-md col-sm">
        {% include '_modules/bestOfTheMonthGameCard.html.twig' with {'game': game, 'yearAndMonth': key } %}
    </div>

{% endfor %}
