{% set lastSession = game.gameSessions | last %}
{% if lastSession %}
    <div class="list-group-item">
        {% trans with {
            '%date%' : lastSession.createdAt |date('d.m.Y'),
            '%time%' : lastSession.duration |convert_recent_time
            } from 'messages' %}
            last_session_date_played_for
        {% endtrans %}
    </div>
{% endif %}
