<div class="navbar navbar-default" role="navigation">
    <div class="navbar-text">
        <a href="{{ path('recentlyPlayed') }}">{% trans from "navigation" %}recently_played{% endtrans %}</a>
    </div>
    <div class="navbar-text">
        <a href="{{ path('mostPlayed') }}">{% trans from "navigation" %}most_played{% endtrans %}</a>
    </div>
</div>