{% set row='' %}
{% set div='' %}

{% if hasRows is defined and hasRows == true %}
 {% set div='row' %}
 {% set div='col' %}
{% endif %}

{% if hasItemList is defined and hasItemList == true %}
    {% set div='list-group-item' %}
{% endif %}

<div class="{{ row }}">
    <div class='{{ div }}'>
        {% if game.boughtAt|date('d.m.Y') == '31.12.2000' %}
            {% trans with {'%time%' : game.timePlayed | convertOverallTime } from 'game' %}played for %time% since purchase{% endtrans %}
        {% else %}
            {% trans with {'%time%' : game.timePlayed | convertOverallTime, '%date%' : game.boughtAt|date('d.m.Y') } from 'game' %}played for %time% with %date%{% endtrans %}
        {% endif %}
    </div>
</div>
