{% set row='' %}
{% set div='' %}

{% if hasRows is defined and hasRows == true %}
    {% set div='row' %}
    {% set div='col' %}
{% endif %}

{% if hasItemList is defined and hasItemList == true %}
    {% set div='list-group-item' %}
{% endif %}

{% if game.gameSessions %}
    {% set min = game.gameSessions|first.duration %}
    {% for gameSession in game.gameSessions %}
        {% if gameSession.duration < min %}
            {% set min = gameSession.duration %}
        {% endif %}
    {% endfor %}

    <div class="{{ row }}">
        <div class='{{ div }}'>
            {% trans with {
                '%time%' : min |convert_recent_time
                } from 'game' %}
                the shortest session lasted %time%
            {% endtrans %}
        </div>
    </div>
{% endif %}
