<div class="panel-footer">
    <span class="pull-left">{% trans from "messages" %}costs_per_hour{% endtrans %}</span>
    <span class="pull-right"> {{ gameStats.game |get_costs_per_hour(app.user) }} {{ gameStats.game.currency|trans}}/h</span>
    <div class="clearfix"></div>
</div>
