<div class="panel-footer">
    <span class="pull-left">{% trans from "messages" %}current_steam_price{% endtrans %}</span>
    <span class="pull-right">{{ gameStats.game.price }} {{ gameStats.game.currency|trans }}</span>
    <div class="clearfix"></div>
</div>
