{% if is_granted('ROLE_ADMIN') %}
<div class="panel-footer">
    <span class="pull-left">{% trans from "messages" %}overall_costs{% endtrans %}</span>
    <span class="pull-right"> {{ gameStats.game |get_overall_costs(app.user) }} {{ gameStats.game.currency|trans }}</span>
    <div class="clearfix"></div>
</div>
{% endif %}
