{% set lastBlogPost = game.blogPosts | last %}

{% if lastBlogPost %}
    {% if is_granted('ROLE_ADMIN') %}
        {% set url= path('blog_post_edit', {'id': lastBlogPost.id}) %}
    {% else %}
        {% set url= path('blog_post_show', {'gameSlug': game.slug, 'blogPostSlug': lastBlogPost.slug }) %}
    {% endif %}
    <div class="row">
        <span class="col pull-left">{% trans from "messages" %}latest_blog_post{% endtrans %}</span>
        <a href="{{ url }}">
            <span class="col pull-right">{{ lastBlogPost.title| slice(0,16) }}</span>
        </a>
    </div>
{% endif %}
